@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

html, body {
	font-family: 'Droid Sans', sans-serif;
	height: 100%;
}

html {
	overflow-y: scroll;
}

#header {
	height: 60px;
	z-index: 2;
	background-color: #aaaaff;
}

#content {
	min-height: 100%;
	width: 100%;
	padding: 60px 0 200px;
	margin: -60px 0 -200px;
	display: table;
}

#column_left {
	display: table-cell;
	width: 200px;
	background-color: #ffaaaa;
}

#column_right {
	display: table-cell;
	background-color: #aaffaa;
}

#yellow {
	background-color: #ffffaa;
	position: relative;
}

#floating {
	width: 20px;
	height: 20px;
	float: left;
	background-color: #444444;
}

#absolute {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	top: 100%;
}

#footer {
	height: 200px;
	background-color: #666666;
}
